<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://facebookevents-fetcherfunctions20190417091000.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/07f111f1-ff42-4b43-9d26-f21cccaf508d/resourceGroups/fb-dev-rg/providers/Microsoft.Web/sites/facebookevents-fetcherfunctions20190417091000</ResourceId>
    <UserName>$facebookevents-fetcherfunctions20190417091000</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://facebookevents-fetcherfunctions20190417091000.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>